@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Medium.woff") format("woff"),
    url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root {
  --bigDia: 45vh;
  --medDia: calc(var(--bigDia) - 50px);
  --smallDia: calc(var(--bigDia) - 150px);
  --smallRight: 20px;
  --bigRight: calc(var(--smallRight) + var(--smallDia) / 2);
  --medRight: calc(var(--smallRight) + var(--smallDia) + 40px);
  --bigTop: 0px;
  --smallTop: calc(var(--bigDia) - 10px);
  --medTop: calc(var(--bigDia) + 10px);
  --containerHeight: calc(var(--medTop) + var(--medDia));
  --containerWidth: calc(var(--medRight) + var(--medDia));
  --design-initial-angle: -22deg;
  --design-change-angle: -8deg;
  --viz-initial-angle: -22deg;
  --viz-change-angle: -10deg;
  --research-initial-angle: 65deg;
  --research-change-angle: -16deg;
  --font-color: #212121;
  --blue-color: #3340f1;
  --light-blue: #3340f136;
  --cream-color: #f9f6f0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--font-color);
}

html {
  scroll-snap-type: y mandatory;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--cream-color);
}

.tag,
.about-button,
h1,
h2,
h3 {
  font-family: "ClashDisplay-Medium", sans-serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
}

.bgd-gradients {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.bgd-gradients svg {
  filter: blur(300px);
}

.top-gradient {
  margin-left: 20vw;
  position: relative;
  top: -60px;
}

.bottom-right-gradient {
  right: -120px;
  bottom: 180px;
  position: relative;
}

.bgd-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

h2 {
  font-size: 6rem;
  font-weight: 500;
}

.tooltip-trigger {
  background-color: var(--light-blue);
  padding: 0 5px;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--font-color);
}

.tooltip-trigger .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: var(--blue-color);
  color: var(--cream-color);
  text-align: center;
  border-radius: 14px;
  padding: 5px;

  /* Position the tooltip-trigger */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  font-size: 16px;
  top: -60px;
  left: 0px;
}

.tags-container {
  margin-bottom: 20px;
}

.tag {
  background: var(--light-blue);
  padding: 2px 8px;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 8px;
}

#b2c-trigger:hover #b2c-tooltip {
  visibility: visible;
}

#dataviz-trigger:hover #dataviz-tooltip {
  visibility: visible;
}

#ur-trigger:hover #ur-tooltip {
  visibility: visible;
}

#joulea-trigger:hover #marketing-tooltip {
  visibility: visible;
}

.show-tooltip {
  visibility: visible;
}

.page-button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 12px 0px;
  font-weight: 600;
  color: var(--blue-color);
  cursor: pointer;
}

#intro {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  position: absolute;
  overflow: hidden;
}

.content__container__top {
  overflow: hidden;
  height: 5rem;
  padding: 0;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding: 0 40px;
  text-align: left;
  list-style: none;

  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 5rem;
  margin: 0;
}

.content__container__list__item h1 {
  color: #3340f1;
}

.intro-text {
  margin-bottom: 20px;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  1% {
    transform: translate(0, 0);
  }
  33%,
  34% {
    transform: translate(0, -25%);
  }
  66%,
  67% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, -75%);
  }
}

.design-text {
  color: var(--blue-color);
}

#top-bar {
  padding-top: 20px;
  position: absolute;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

#insert-symbol span {
  background-color: #ffffff00;
  color: var(--blue-color);
}

.intro-sub-text {
  font-size: 1.2rem;
  margin-top: 10px;
  width: 40vw;
  cursor: default;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: clip;
}

#intro-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 90vw;
}

#projects {
  position: absolute;
  height: var(--containerHeight);
  width: var(--containerWidth);
  right: 5vw;
}

.container {
  border: 2.5px solid var(--font-color);
  border-radius: 50%;
  clip-path: circle(50%);
  overflow: hidden;
  position: absolute;
}

.sphere {
  position: absolute;
  top: 0;
  left: 0;
}

#sphere-uxd-container {
  width: var(--bigDia);
  height: var(--bigDia);
  right: var(--bigRight);
  top: var(--bigTop);
}

#sphere-uxd {
  width: var(--bigDia);
  height: var(--bigDia);
}

#sphere-uxr-container {
  width: var(--medDia);
  height: var(--medDia);
  right: var(--medRight);
  top: var(--medTop);
}

#sphere-uxr {
  width: var(--medDia);
  height: var(--medDia);
}

#sphere-viz-container {
  width: var(--smallDia);
  height: var(--smallDia);
  right: var(--smallRight);
  top: var(--smallTop);
}

#sphere-viz {
  width: var(--smallDia);
  height: var(--smallDia);
}

.projects-text p,
.projects-text p span {
  position: absolute;
  font-family: "Nanum Pen Script";
  font-size: 2rem;
}

/* Text rotation ref: https://css-tricks.com/set-text-on-a-circle/ */
/* UX design */

.design-text {
  right: calc(var(--bigRight) + var(--bigDia) / 2 + 10px);
  top: var(--bigTop);
}

.design-text span {
  height: calc(var(--bigDia) / 2);
  transform-origin: bottom center;
}

.design-text span:nth-child(1) {
  transform: rotate(
    calc(var(--design-initial-angle) + 8 * var(--design-change-angle))
  );
}

.design-text span:nth-child(2) {
  transform: rotate(
    calc(var(--design-initial-angle) + 7 * var(--design-change-angle))
  );
}

.design-text span:nth-child(3) {
  transform: rotate(
    calc(var(--design-initial-angle) + 6 * var(--design-change-angle))
  );
}

.design-text span:nth-child(4) {
  transform: rotate(
    calc(var(--design-initial-angle) + 5 * var(--design-change-angle))
  );
}

.design-text span:nth-child(5) {
  transform: rotate(
    calc(var(--design-initial-angle) + 4 * var(--design-change-angle))
  );
}

.design-text span:nth-child(6) {
  transform: rotate(
    calc(var(--design-initial-angle) + 3 * var(--design-change-angle))
  );
}

.design-text span:nth-child(7) {
  transform: rotate(
    calc(var(--design-initial-angle) + 2 * var(--design-change-angle))
  );
}

.design-text span:nth-child(8) {
  transform: rotate(
    calc(var(--design-initial-angle) + 1 * var(--design-change-angle))
  );
}

.design-text span:nth-child(9) {
  transform: rotate(var(--design-initial-angle));
}

/* Data viz  */

.viz-text {
  right: calc(var(--medRight) + var(--medDia) / 2 + 10px);
  top: var(--medTop);
}

.viz-text span {
  height: calc(var(--medDia) / 2);
  transform-origin: bottom center;
}

.viz-text span:nth-child(1) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 8 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(2) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 7 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(3) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 6 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(4) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 5 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(5) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 4 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(6) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 3 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(7) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 2 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(8) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 1 * var(--viz-change-angle))
  );
}

.research-text {
  right: calc(var(--smallRight) + var(--smallDia) / 2 + 10px);
  top: var(--smallTop);
}

.research-text span {
  height: calc(var(--smallDia) / 2);
  transform-origin: bottom center;
}

.research-text span:nth-child(1) {
  transform: rotate(
    calc(var(--research-initial-angle) + 8 * var(--research-change-angle))
  );
}

.research-text span:nth-child(2) {
  transform: rotate(
    calc(var(--research-initial-angle) + 7 * var(--research-change-angle))
  );
}

.research-text span:nth-child(3) {
  transform: rotate(
    calc(var(--research-initial-angle) + 6 * var(--research-change-angle))
  );
}

.about-intro {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}

.about-title {
  color: #3340f1;
}

.about-intro-text {
  color: #212121;
  max-width: 50vw;
}

.my-sketches {
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;
  gap: 10px;
  overflow-x: scroll;
}

.sketches-description {
  color: #3340f1;
}

.sketch img {
  padding-bottom: 10px;
  height: 240px;
  object-fit: contain;
}

/* Styling for the button */
.about-button {
  padding: 10px 20px;
  background-color: var(--cream-color);
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 600;
  box-shadow: -1px 1px var(--blue-color);
  border-radius: 4px;
}

.about-button:hover {
  box-shadow: none;
  translate: -1px 2px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.about-image {
  width: 30vw;
  max-width: 400px;
}

.contact {
  margin: 0 5vw;
  padding: 60px 0 80px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.contact .right {
  margin-top: 20px;
}

.about-contact {
  color: var(--blue-color);
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section {
  height: max-content;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
}

.sbs-super-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 26px;
}

.sbs-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  /* border: 2.5px solid var(--font-color); */
  border-radius: 12px;
  background-color: #f0f0eea9;
  box-shadow: -2px 2px #979797;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card:hover {
  box-shadow: none;
  translate: -1px 2px;
}

.card-large {
  width: calc(40vw + 28px);
}

.card-small {
  width: 20vw;
}

.card-icon {
  height: 50px;
  padding: 20px;
  padding-left: 0;
}

.main-img {
  width: calc(20vw - 20px);
  object-fit: cover;
  margin: 20px;
  border-radius: 4px;
}

.content-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 90%;
}

.content-container h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.content-container p {
  padding-bottom: 1rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.down-arrow {
  cursor: pointer;
}

footer {
  background-color: var(--blue-color);
  z-index: 5;
  color: var(--cream-color);
  position: relative;
  border-radius: 20px 20px 0 0;
  margin-top: 60px;
}

.portrait img {
  width: 40vw;
  max-width: 800px;
  padding: 50px 5px;
  object-fit: contain;
}

.introduction {
  display: flex;
}

.introduction-content {
  margin: 0px 5vw;
  padding-top: 80px;
  width: 45vw;
}

.introduction-content p,
.introduction-content h1 {
  color: var(--cream-color);
}

.introduction-content h1,
.contact h1 {
  font-weight: 400;
  padding-bottom: 10px;
}

.contact h1 {
  color: var(--font-color);
}

.timeline {
  position: relative;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 10px;
}

.timeline ol {
  font-size: 0;
  padding: 100px 0 320px;
  transition: all 1s;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-color: #f9f6f057 var(--blue-color);
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 360px;
  height: 2.5px;
  background: var(--cream-color);
  scroll-snap-align: start;
}

.timeline ol li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 80px;
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--cream-color);
  z-index: 1;
}

.timeline ol li div {
  position: absolute;
  left: 80px;
  width: 280px;
  font-size: 1rem;
  white-space: normal;
  color: var(--cream-color);
}

.timeline time {
  display: block;
  font-size: 1.8rem;
  margin: 21px 0px 8px;
  color: var(--cream-color);
  font-family: "Nanum Pen Script", cursive;
  position: relative;
  top: -70px;
}

.time-div-container .title {
  font-family: "ClashDisplay-Medium", sans-serif;
  padding-bottom: 8px;
}

.timeline div p,
.timeline div h4 {
  position: relative;
  top: -40px;
  color: var(--cream-color);
}

@media (max-width: 1440px) {
  .intro-sub-text {
    max-width: 36vw;
  }
}

@media (max-width: 1280px) {
  :root {
    --bigDia: 35vh;
  }
}

@media (max-width: 1150px) {
  .intro-sub-text {
    font-size: 1rem;
    max-width: 50vw;
  }

  .inserted-text span {
    font-size: 2rem;
  }

  #just-develop {
    top: -2rem;
  }

  #research {
    top: -6rem;
    left: -10px;
  }

  .about-button {
    font-size: 12px;
  }

  #intro {
    width: 90vw;
  }

  .content-container p {
    font-size: 0.9rem;
  }
}

@media (orientation: landscape) {
  #top-bar button {
    position: fixed;
    right: 5vw;
  }
}

@media (orientation: portrait) or (max-width: 1040px) {
  :root {
    --bigDia: 50vw;
  }

  body {
    overflow-x: clip;
    height: calc(150vh);
  }

  .intro-sub-text {
    width: 90vw;
    max-width: 90vw;
  }

  #projects {
    display: none;
  }

  #intro {
    height: 80vh;
  }

  .card-large {
    width: 90vw;
    margin-left: 5vw;
  }

  .card-small {
    width: calc(45vw - 14px);
  }

  .portrait img {
    width: 100vw;
  }

  .introduction {
    flex-direction: column;
  }

  .sbs-super-section {
    flex-direction: column;
  }

  .introduction-content {
    width: 90vw;
  }

  .sbs-section {
    margin-left: 5vw;
  }

  .contact {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 720px) {
  :root {
    --bigDia: 250px;
    --smallDia: 140px;
    --medRight: 180px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .content__container__top {
    height: 4rem;
  }

  .content__container__list__item {
    line-height: 4rem;
  }

  .sbs-section,
  .sbs-super-section {
    flex-direction: column;
  }

  .card-small,
  .card-large {
    width: 90vw;
  }

  .main-img {
    width: calc(90vw - 40px);
  }

  .card-icon {
    height: 50px;
  }

  .card-large {
    flex-direction: column;
  }
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.down-arrow {
  position: fixed;
  top: calc(100vh - 120px);
  left: 5vw;
  width: 0;
}

.down-arrow img {
  margin-top: 30px;
  width: 30px;
}

.hide-arrow {
  display: none;
}
