:root {
  --bigDia: 45vh;
  --medDia: calc(var(--bigDia) - 50px);
  --smallDia: calc(var(--bigDia) - 150px);
  --smallRight: 20px;
  --bigRight: calc(var(--smallRight) + var(--smallDia) / 2);
  --medRight: calc(var(--smallRight) + var(--smallDia) + 40px);
  --bigTop: 0px;
  --smallTop: calc(var(--bigDia) - 10px);
  --medTop: calc(var(--bigDia) + 10px);
  --containerHeight: calc(var(--medTop) + var(--medDia));
  --containerWidth: calc(var(--medRight) + var(--medDia));
  --design-initial-angle: -22deg;
  --design-change-angle: -8deg;
  --viz-initial-angle: -22deg;
  --viz-change-angle: -10deg;
  --research-initial-angle: 65deg;
  --research-change-angle: -16deg;
  --font-color: #f6eddb;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  color: var(--font-color);
}

body {
  height: 100vh;
  width: 100vw;
  background: #322796;
  background-image: url("assets/gradient2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: clip;
}

h2 {
  font-size: 6rem;
  font-weight: 500;
}

#intro {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
}

.intro-text {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.inserted-text {
  position: relative;
  display: inline-block;
  width: 0px;
  transform: rotate(-2deg);
}

.inserted-text span {
  font-family: "Nanum Pen Script", cursive;
  font-size: 3rem;
  line-height: 2.8rem;
  position: absolute;
  background-color: #00000042;
  color: #49f9ef;
}

.inserted-text span:nth-child(2) {
  top: 3rem;
  left: 20px;
}

#top-bar {
  padding-top: 20px;
  position: fixed;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

#research {
  top: -8rem;
  left: -10px;
}

#insert-symbol {
  top: 0rem;
  left: -10px;
  line-height: 1rem;
}

#insert-symbol span {
  background-color: #ffffff00;
}

#develop {
  top: -4rem;
}

#just-develop {
  top: -3rem;
}

.intro-sub-text {
  font-size: 1.2rem;
  margin-top: 2rem;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#projects-container {
  position: relative;
  height: var(--containerHeight);
  width: var(--containerWidth);
  margin: auto;
}

.container {
  border: 4px solid var(--font-color);
  border-radius: 50%;
  clip-path: circle(50%);
  overflow: hidden;
  position: absolute;
}

.sphere {
  position: absolute;
  top: 0;
  left: 0;
}

#sphere-uxd-container {
  width: var(--bigDia);
  height: var(--bigDia);
  right: var(--bigRight);
  top: var(--bigTop);
}

#sphere-uxd {
  width: var(--bigDia);
  height: var(--bigDia);
}

#sphere-uxr-container {
  width: var(--medDia);
  height: var(--medDia);
  right: var(--medRight);
  top: var(--medTop);
}

#sphere-uxr {
  width: var(--medDia);
  height: var(--medDia);
}

#sphere-viz-container {
  width: var(--smallDia);
  height: var(--smallDia);
  right: var(--smallRight);
  top: var(--smallTop);
}

#sphere-viz {
  width: var(--smallDia);
  height: var(--smallDia);
}

.projects-text p,
.projects-text p span {
  position: absolute;
  font-family: "Nanum Pen Script";
  font-size: 2rem;
}

/* Text rotation ref: https://css-tricks.com/set-text-on-a-circle/ */
/* UX design */

.design-text {
  right: calc(var(--bigRight) + var(--bigDia) / 2 + 10px);
  top: var(--bigTop);
}

.design-text span {
  height: calc(var(--bigDia) / 2);
  transform-origin: bottom center;
}

.design-text span:nth-child(1) {
  transform: rotate(
    calc(var(--design-initial-angle) + 8 * var(--design-change-angle))
  );
}

.design-text span:nth-child(2) {
  transform: rotate(
    calc(var(--design-initial-angle) + 7 * var(--design-change-angle))
  );
}

.design-text span:nth-child(3) {
  transform: rotate(
    calc(var(--design-initial-angle) + 6 * var(--design-change-angle))
  );
}

.design-text span:nth-child(4) {
  transform: rotate(
    calc(var(--design-initial-angle) + 5 * var(--design-change-angle))
  );
}

.design-text span:nth-child(5) {
  transform: rotate(
    calc(var(--design-initial-angle) + 4 * var(--design-change-angle))
  );
}

.design-text span:nth-child(6) {
  transform: rotate(
    calc(var(--design-initial-angle) + 3 * var(--design-change-angle))
  );
}

.design-text span:nth-child(7) {
  transform: rotate(
    calc(var(--design-initial-angle) + 2 * var(--design-change-angle))
  );
}

.design-text span:nth-child(8) {
  transform: rotate(
    calc(var(--design-initial-angle) + 1 * var(--design-change-angle))
  );
}

.design-text span:nth-child(9) {
  transform: rotate(var(--design-initial-angle));
}

/* Data viz  */

.viz-text {
  right: calc(var(--medRight) + var(--medDia) / 2 + 10px);
  top: var(--medTop);
}

.viz-text span {
  height: calc(var(--medDia) / 2);
  transform-origin: bottom center;
}

.viz-text span:nth-child(1) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 8 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(2) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 7 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(3) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 6 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(4) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 5 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(5) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 4 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(6) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 3 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(7) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 2 * var(--viz-change-angle))
  );
}

.viz-text span:nth-child(8) {
  transform: rotate(
    calc(var(--viz-initial-angle) + 1 * var(--viz-change-angle))
  );
}

.research-text {
  right: calc(var(--smallRight) + var(--smallDia) / 2 + 10px);
  top: var(--smallTop);
}

.research-text span {
  height: calc(var(--smallDia) / 2);
  transform-origin: bottom center;
}

.research-text span:nth-child(1) {
  transform: rotate(
    calc(var(--research-initial-angle) + 8 * var(--research-change-angle))
  );
}

.research-text span:nth-child(2) {
  transform: rotate(
    calc(var(--research-initial-angle) + 7 * var(--research-change-angle))
  );
}

.research-text span:nth-child(3) {
  transform: rotate(
    calc(var(--research-initial-angle) + 6 * var(--research-change-angle))
  );
}

/* Styling for the modal overlay */
.modal-overlay {
  display: none; /* Hide by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 2;
}

/* Styling for the modal content */
.modal-container {
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90vw;
  position: fixed;
  top: 20px;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

.modal-body {
  max-height: calc(100vh - 160px - 6rem);
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
}

.modal-header {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.about-intro {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}

.about-title {
  color: #3340f1;
}

.about-intro-text {
  color: #212121;
}

.my-sketches {
  display: flex;
  justify-content: space-between;
}

.sketch {
  color: #3340f1;
  width: calc((80vw - 80px) / 4);
}

.sketch img {
  width: 100%;
  padding-bottom: 10px;
}

/* Styling for the button */
.about-button {
  padding: 10px 20px;
  background-color: #00000042; /* Blue color */
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: 0px;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.about-button:hover {
  background-color: #0000007a;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.about-image {
  width: 30vw;
  max-width: 400px;
}
