@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../../fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("../../fonts/ClashDisplay-Medium.woff") format("woff"),
    url("../../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-color: #212121;
  --blue-color: #3340f1;
  --light-blue: #3340f136;
  --cream-color: #f9f6f0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 a {
  font-family: "ClashDisplay-Medium", sans-serif;
}

h2 {
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  font-size: 3.5rem;
  font-weight: 500;
}

h4 {
  font-size: 3rem;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  color: #3340f1;
  font-weight: 400;
  padding-bottom: 5px;
}

.sbs h4 {
  max-width: 50vw;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

body {
  margin-top: 24px;
  background: var(--cream-color);
}

li {
  padding: 6px;
}

.page-body > div,
.page-header {
  margin: 0 5vw 60px;
}

.page-body > div:last-child {
  margin-bottom: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.intro {
  display: flex;
  gap: 40px;
}

.title {
  color: #3340f1;
  width: 70%;
}

.intro-text {
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bgd-highlight {
  background: #3340f124;
  padding: 20px;
  box-sizing: content-box;
  border-radius: 10px;
}

.intro-image {
  width: 50vw;
  object-fit: contain;
}

.sbs {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.sbs-image {
  color: #3340f1;
  max-width: 45vw;
}

.sbs-image img {
  width: 100%;
  padding-bottom: 10px;
}

.full-width-image {
  width: 90vw;
  color: #3340f1;
}

.full-width-image img {
  width: 100%;
  padding-bottom: 10px;
}

.close-button {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: var(--cream-color);
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
  cursor: pointer;
  letter-spacing: 0.1rem;
  box-shadow: -1px 1px var(--blue-color);
  border-radius: 4px;
}

.close-button h5 {
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.close-button:hover {
  box-shadow: none;
  translate: -1px 2px;
}

.key-text-section {
  background-color: #3340f1;
  color: #f6eddb;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.key-text-section > * {
  max-width: 80vw;
  text-align: center;
  margin: auto;
  padding: 100px 0;
}

.key-text-section h5 {
  color: #f6eddb;
  padding-top: 40px;
}

.key-text-section a {
  color: wheat;
}

.half-width {
  max-width: 60vw;
}

.small-width {
  max-width: 40vw;
}

@media (max-width: 1150px) {
  h2 {
    font-size: 4rem;
    font-weight: 500;
  }

  h3 {
    font-size: 3rem;
    font-weight: 500;
  }

  h4 {
    font-size: 2rem;
    font-weight: 400;
  }

  h5 {
    font-size: 1rem;
    color: #3340f1;
    font-weight: 400;
    padding-bottom: 5px;
  }

  h6 {
    font-size: 0.9rem;
    font-weight: 400;
    font-style: italic;
  }
}

@media (orientation: portrait) {
  .intro,
  .sbs {
    flex-direction: column;
  }

  .title {
    width: 80%;
  }

  .intro-image,
  .sbs h4,
  .sbs-image img,
  .sbs-image h6,
  .small-width,
  .half-width {
    width: 90vw;
    max-width: 90vw;
  }
}
